/* BODY
----------------------------*/

body {
  background: url(../images/main_bg.jpg) center center fixed no-repeat;
}

.wrapper {
  background: rgba(0, 0, 0, 0.2);
}

/* FONT
-----------------------------*/

h1, h2, h3, h4, h5 {
  color: #7f8dac;
  font-family: font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HEADER
----------------------------*/

.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 10px 0 10px;
}

/* LANDING 
------------------------------*/

#section1 {
  margin: 50px 0 0 20px;
}

#section2 {
  background: rbga(0, 0, 0, 0.4);
}