<!-- 
  * login - View
  * To log a user in
 -->

<div ng-include="'partials/navbar.html'"></div>

<div class="userFuncBG">
<div class="row">
  <div class="col-md-6">
    <h1>Login</h1>
  </div>
</div><!-- row -->

<div class="row">
  <div class="col-md-6">
    <form class="form" name="form" id="loginForm" ng-submit="login(form)" novalidate>

      <!-- Email -->
      <div class="form-group row">

        <input type="text" name="email" class="form-control" ng-model="user.email" required placeholder="Email">
      </div><!-- form-group -->

      <!-- Password -->
      <div class="form-group row">
        
        <input type="password" name="password" class="form-control" ng-model="user.password" required placeholder="Password">
      </div><!-- form-group -->


      <div class="form-group has-error">
        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
           Please enter your email and password.
        </p>              
        <p class="help-block">{{ errors.other }}</p>
      </div><!-- form-group -->

      <button type="submit" class="btn btn-md"> Sign in </button>

      <hr />
      <div class="row" id="regLink">
        <span>Not registered? 
        <a href="/signup" class="text-center new-account">Create an account.</a></span>
      </div>

    </form>
    
  </div><!-- col6 -->
</div><!-- row -->

</div><!-- userFuncBG -->
