<!-- 
  * Main - View
  * This is the page the user initally lands on
 -->

<div ng-include="'partials/navbar'"></div>

<div class="wrapper">

<div id="section1">
  <div id="intro">

    <img src="images/logo.png" alt="event assits logo">
  </div>
</div><!-- section1 -->

<div id="section2">
  <div class="col-xs-6" id="appInfo">
    <p>
      Used for show production enviroments, Event Assits is the live event "task" manage you've been looking for. Its never been simpler to plan out an entire event in one place. Here you can track your events that either occur once or repeat regularly. Maintain organization over an entire crew, plan out segments, all while putting on a show the audience would never forget. 
    </p>
  </div>

  <div class="col-xs-6" id="itemul">
      <ul>
        <li ng-repeat="thing in awesomeThings">
          {{ thing.item }}
        </li>
      </ul>

      <a href="/signup">Register >></a>
    </div>

</div><!-- section2 -->

<div id="section3">
  <div class="feature col-xs-6 col-md-4">
    <div class="featureImg">
      <img src="images/features/calendar.png">
    </div>
    <p class="featureText">
      Maintain organization of your event
    </p>
  </div>

  <div class="feature col-xs-6 col-md-4">
    <div class="featureImg">
      <img src="images/features/forum.png">
    </div>
    <p class="featureText">
      Keep an entire crew informed
    </p>
  </div>

  <div class="feature col-xs-6 col-md-4">
    <div class="featureImg">
      <img src="images/features/technology.png">
    </div>
    <p class="featureText">
      Accessible through multiple platforms
    </p>
  </div>

</div><!-- section3 -->

</div><!-- wrapper -->

<br />

<div ng-include="'partials/footer'"></div>

