<!-- 
  * Main - View
  * This is the page the user initally lands on
 -->

<div ng-include="'partials/navbar'"></div>

<div class="wrapper">

<div id="section1">
  <div class="col-xs-6" id="intro">
    <h3>We are...</h3>

    <img src="images/logo.png" alt="event assits logo">
  </div>

  <div class="col-xs-6" id="appInfo">
    <p>
      Halvah pastry chocolate cake dragée ice cream. Gingerbread chocolate cake wafer chocolate. Candy canes fruitcake jelly beans. Candy marzipan carrot cake oat cake bonbon lemon drops.
    </p>

    <a href="/signup">Register >></a>
  </div>
</div><!-- section1 -->

<div id="bgcolor">

  <div id="section2">
    <h2>Why Use Event Assit?</h2>
    <p class="col-xs-6" id="reasoning">
      Hipster Ipsum. 90's Cosby sweater cornhole American Apparel cred literally blog squid ennui, pour-over narwhal leggings. IPhone chillwave church-key, put a bird on it yr vegan distillery flannel Helvetica Marfa authentic actually organic letterpress forage. Godard ugh drinking vinegar
    </p>

    <div class="col-xs-6" id="itemul">
      <ul>
        <li ng-repeat="thing in awesomeThings">
          {{ thing.item }}
        </li>
        <li>You totally want to <a href="/signup">join</a> </li>
      </ul>
    </div>
  </div><!-- section2 -->

  <div id="section3">
    <h2>Features</h2>

    <div class="feature col-xs-6 col-md-4">
      <div class="featureImg">
        <img src="images/features/calendar.png">
      </div>
      <p class="featureText">
        Halvah pastry chocolate cake dragée ice cream. Gingerbread chocolate cake wafer chocolate.
      </p>
    </div>

    <div class="feature col-xs-6 col-md-4">
      <div class="featureImg">
        <img src="images/features/forum.png">
      </div>
      <p class="featureText">
        Halvah pastry chocolate cake dragée ice cream. Gingerbread chocolate cake.
      </p>
    </div>

    <div class="feature col-xs-6 col-md-4">
      <div class="featureImg">
        <img src="images/features/technology.png">
      </div>
      <p class="featureText">
        Halvah pastry chocolate cake dragée ice cream.
      </p>
    </div>

  </div><!-- section3 -->

  <div id="section4">


    <br />

    <span>Tatiana Kerick | <a href="https://github.com/MissTatiana/EventAssits">Github</a> | <a href="https://tatianakerick.com">Porfolio</a> | Web Final Project 2014 &copy;</span>
  </div><!-- section4 -->
</div>

</div><!-- wrapper -->
