
<!-- 
  * Navbar - View
 -->

<div class="header" ng-controller="NavbarCtrl">
  <ul class="nav nav-pills pull-right">

    <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Register</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>

  </ul>

  <span ng-hide="currentUser" ng-class="{active: isActive('/')}"><a href="/"><img id="logo" src="images/logo_white.png" width=95 height=40 alt="Event Assits Logo"></a></span>
  <span ng-show="currentUser" ng-class="{active: isActive('/dashboard')}"><a href="/dashboard"><img id="logo" src="images/logo.png" width=95 height=40 alt="Event Assits Logo"></a></span>
</div>