<!-- 
  * Dashboard - View
  * Only accessable when user is logged in
 -->

<div ng-include="'partials/navbar.html'"></div>

<div class="appBG">
<h1>Hello, <span ng-show="currentUser">{{ currentUser.firstName }} {{ currentUser.lastName }}</span>. this is your dashboard</h1>	

<a href="/createEvent">Create Event</a>

<h3>Your events</h3>

<div class="row marketing">
  <div ng-repeat="event in getEvents">
  	<a href="/event/{{event._id}}">
    	<h4>{{event.title}}</h4>
    	<p>{{event.date}}</p>
  	</a>
  </div>
</div>
</div><!-- appBG -->