<!--
  * Dashboard - View
  * Only accessable when user is logged in
 -->

<div ng-include="'partials/navbar.html'"></div>

<div class="appBG" id="dashboard">

<div class="row">
	<div class="col-md-12">
		<h1 class="pull-left" id="greeting">
			Hello, <span ng-show="currentUser">{{ currentUser.firstName }}</span>.
		</h1>

		<h3 id="today">

		</h3>	
	</div><!-- col8 -->
	</div><!-- row -->

	<div class="col-md-12" id="eventsBox">
		<div class="row" id="eventsTop">
			<h2 class="col-md-4">Your Events</h2>

			<a href="/createEvent" id="createEventLink"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create Event</a>
		</div>

		<div class="col-md-12">
			<hr />
		</div>

		<div class="eventList" class="row">
				
			<div class="col-md-12 events" ng-repeat="event in getEvents | orderBy:date:reverse">
				<a href="/event/{{event._id}}">
					<div class="col-md-4 mainInfo">
						<h4>{{ event.title }}</h4>
						<p>{{ event.date }} - {{ event.setUp }}</p>
					</div>
					<p class="col-md-4">{{ event.description }}</p>
				</a>
			</div><!-- col6 -->

		</div><!-- row -->
	</div><!-- eventsBox --> 

</div><!-- appBG -->



<script type="text/javascript">
	var d = new Date();

	if(d.getHours() >= 0 && d.getHours() < 14) {
		document.getElementById("greeting").innerHTML = "Hello, {{ currentUser.firstName }}"; 
	} 
	else {
		document.getElementById("greeting").innerHTML = "Good evening, {{ currentUser.firstName }}"; 
	} 

	var day = d.getDate();
	var month = "";
	var weekDay = "";
	var year = d.getFullYear();

	//week day
	switch (new Date().getDay()) {
	    case 0:
	        weekDay = "Sunday";
	        break;
	    case 1:
	        weekDay = "Monday";
	        break;
	    case 2:
	        weekDay = "Tuesday";
	        break;
	    case 3:
	        weekDay = "Wednesday";
	        break;
	    case 4:
	        weekDay = "Thursday";
	        break;
	    case 5:
	        weekDay = "Friday";
	        break;
	    case 6:
	        weekDay = "Saturday";
	        break;
	}

	//month
	switch (new Date().getMonth()) {
		case 0:
			month = "Janurary"
			break;
		case 1:
			month = "Feburary"
			break;
		case 2:
			month = "March"
			break;
		case 3:
			month = "April"
			break;
		case 4:
			month = "May"
			break;
		case 5:
			month = "June"
			break;
		case 6:
			month = "July"
			break;
		case 7:
			month = "August"
			break;
		case 8:
			month = "September"
			break;
		case 9:
			month = "October"
			break;
		case 10:
			month = "November"
			break;
		case 11:
			month = "December"
			break;
	}

	var today = weekDay + " " + day + " "+ month + " " + year;

	document.getElementById("today").innerHTML = today;

</script>