<!-- 
  * Event Settings - View
  * Accessible to the currentEvent
-->

<div ng-include="'partials/navbar.html'"></div>

<div class="appBG">

<a href="/event/{{showEvent.id}}" class="back"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>

<div class="row col-md-12 ">
	<h1>{{ showEvent.title }} Settings</h1>
</div>

<div class="col-md-12">
<form class="form" name="form" id="editEventForm" ng-submit="editEvent(form)" novalidate>

	<h3>Edit Event</h3>

	<!-- title -->
	<div class="form-group">
		<label>Event Title:</label>

		<input type="text" name="newTitle" class="form-control" ng-model="event.newTitle" mongoose-error />

	</div><!-- form-group -->

	<!-- date -->
	<div class="form-group">
		<label>Event Date:</label>

		<input type="text" name="newDate" class="form-control" ng-model="event.newDate" mongoose-error />

	</div><!-- form-group -->

	<!-- set up -->
	<div class="form-group col-md-4">
		<label>Set up Time:</label>

		<input type="time" name="newSetUp" class="form-control" ng-model="event.newSetUp" mongoose-error />

	</div><!-- form-group -->

	<!-- start time -->
	<div class="form-group col-md-4">
		<label>Start Time:</label>

		<input type="time" name="newStartTime" class="form-control" ng-model="event.newStartTime" mongoose-error />

	</div><!-- form-group -->

	<!-- strike -->
	<div class="form-group col-md-4">
		<label>Strike Time:</label>

		<input type="time" name="newStrike" class="form-control" ng-model="event.newStrike" mongoose-error />

	</div><!-- form-group -->

	<!-- description -->
	<div class="form-group">
		<label>Event Discription:</label>

		<textarea type="date" name="newDescription" class="form-control" ng-model="event.newDescription" mongoose-error></textarea>

	</div><!-- form-group -->


	<button class="btn col-md-12">Save Changes</button>

</form>
	

	<form class="form" name="form" id="eventDeleteForm" ng-submit="deleteEvent(form)" novalidate>

		<h3>Delete Event</h3>
		<button id="eventDeleteBtn" class="btn col-md-12">Yes, I want to delete event</button>

	</form>

</div><!-- col12 -->


</div> <!-- appBG -->


