<!-- 
  * Category.html
  * Only accessable through event when user logged in
  * CRUD for categories
  * Uniquie to the user, plus defaults
 -->

 <div ng-include="'partials/navbar.html'"></div>

 <h1>Categories</h1>

<div class="col-sm-12">
	<h3>Add New Category</h3>
</div><!-- col12 -->

<div class="col-sm-12">
<form class="form" name="form" ng-submit="addCategory(form)" novalidate>

	<!-- Category -->
	<div class="form-group" ng-class="{ 'has-success': form.categoryName.$valid && submitted, 'has-error': form.categoryName.$invalid && submitted }">

		<label>Category Name:</label>

		<input type="text" name="categoryName" class="form-control" ng-model="event.categoryName" required />

		<p class="help-block" ng-show="form.categoryName.$error.required && submitted">
			A category name is required
		</p>
	</div><!-- form-group -->

	<button class="btn btn-sm btn-primary" type="submit">Add Category</button>	
</form>
</div><!-- col12 -->

