<!-- 
  * Event - View
  * Only accessable when users is logged in
  * The event as a whole including segments
 -->

<div ng-include="'partials/navbar.html'"></div>

<div class="appBG">

<a href="/dashboard" class="back"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Dashboard</a>

<div class="row" id="jumbotron">

	<div class="pull-right" id="icons">
		<a href="/event/{{showEvent.id}}/crew" alt="Crew"><span class="glyphicon glyphicon-user"></span></a>
		<br />
		<a href="/event/{{showEvent.id}}/eventSettings" alt="Event Settings"><span class="glyphicon glyphicon-cog"></span></a>
	</div><!-- icons -->

	<h1>{{ showEvent.title }}</h1>

	<div id="details">
		<h4>{{ showEvent.date }}</h4>

		<h4 class="pull-left" id="times">
			Set up: {{ showEvent.setUp }}
			&nbsp;
			&nbsp;
			Show Time: {{ showEvent.startTime }}
			<br />
			<br />
			Break Down: {{ showEvent.strike }}

		</h4>

	</div><!-- details -->

	<p id="desc">
		{{ showEvent.description }}
	</p>

</div><!-- jumbotron -->

<div id="segments">

	<div id="addSegment">
	<div class="row">
		<div class="col-md-12">
			<h1>
				<span class="pull-right" id="plus"><a>+ Add Segment</a></span>
				Segments
				
			</h1>

		</div><!-- col8 -->
	</div><!-- row -->

	<div class="col8">
		<hr /> 
	</div>

	<div class="row">
	<div class="col-md-12">
		<form class="form" name="form" id="addSegmentForm" ng-submit="addSegment(form)" novalidate>

			<!-- time -->
			<div class="form-group col-md-6" ng-class="{ 'has-success': form.time.$valid && submitted, 'has-error': form.time.$invalid && submitted }">

				<label>Time:</label>

				<input type="time" name="time" class="form-control" ng-model="segment.time" required />

				<p class="help-block" ng-show="form.time.$error.required && submitted">
					A time for the segment is required
				</p>

			</div><!-- form-group -->

			<!-- duration -->
			<div class="form-group col-md-6" ng-class="{ 'has-success': form.duration.$valid && submitted, 'has-error': form.duration.$invalid && submitted }">

				<label>Duration:</label>

				<select type="time" name="duration" class="form-control" ng-model="segment.duration" required>
					<option>15 min</option>
					<option>30 min</option>
					<option>45 min</option>
					<option>1 hr</option>
					<option>1 hr 15 min</option>
					<option>1 hr 30 min</option>
					<option>1 hr 45 min</option>
					<option>2 hrs</option>
				</select>

				<p class="help-block" ng-show="form.duration.$error.required && submitted">
					A duration of the segment is required
				</p>
			</div><!-- form-group -->


			<!-- category -->
			<div class="form-group col-md-12" ng-class="{ 'has-success': form.category.$valid && submitted, 'has-error': form.category.$invalid && submitted }">

				<label>Category:</label>

				<select name="category" class="form-control" ng-model="segment.category" required>
					<option ng-repeat="category in getCategorys" value="{{ category.categoryName }}">
						{{ category.categoryName }}
					</option>
				</select>

				<p class="help-block" ng-show="form.time.$error.required && submitted">
					A category for the segment is required
				</p>
			</div><!-- form-group -->

			<!-- task -->
			<div class="form-group col-md-12" ng-class="{ 'has-success': form.task.$valid && submitted, 'has-error': form.task.$invalid && submitted }">

				<label>Task:</label>

				<textarea name="task" class="form-control" ng-model="segment.task"></textarea>
			</div><!-- form-group -->

			<button class="btn btn-sm col-md-6" type="submit">Add Segment</button>

			<div class="col-md-12">
				<hr />
			</div>
		</form>

	</div><!-- col8 -->
	</div>
	</div><!-- addSegment -->

	<div id="segmentsList">

		<div class="segment" ng-repeat="segment in getSegments | toArray | orderBy:timeSort" >
			<div class="time pull-left">
				<p>{{ segment.time | date:shortTime }}</p>
				<hr />
				<p>{{ segment.duration }}</p>
			</div>

			<span class="segmentCat">{{ segment.category }}</span>
			<p>{{ segment.task }}</p>

		</div>

	</div><!-- segmentsList -->

</div><!-- segements -->


</div><!-- appBG -->

<script type="text/javascript">
	
	$(document).ready(function() {
		// var edit = document.getElementsByClassName("editSegment");

		// console.log(edit);

		//toggle add segment view
		var plus = document.getElementById("plus");

		var form = document.getElementById("addSegmentForm");

		var clicked = 0;

		plus.onclick = function (e) {
			clicked++;

			if ( clicked % 2 ) {
				form.style.visibility = "visible";
				form.style.display = "block";
			}
			else {
				form.style.visibility = "hidden";
				form.style.display = "none";
			}
		};

	});




	
</script>
