<!-- 
  * Event - View
  * Only accessable when users is logged in
  * The event as a whole including segments
 -->

<div ng-include="'partials/navbar.html'"></div>

<div class="appBG">

<div class="row" id="jumbotron">

	<div class="pull-right" id="icons">
		<a href="/categories" alt="View Categories"><span  class="glyphicon glyphicon-th-list"></span></a>
		<br />
		<a href="/users" alt="Crew"><span class="glyphicon glyphicon-user"></span></a>
		<br />
		<a href="/eventSettings" alt="Event Settings"><span class="glyphicon glyphicon-cog"></span></a>
	</div><!-- icons -->

	<h1>{{ showEvent.title }}</h1>

	<div id="details">
		<h3>{{ showEvent.date }}</h3>

		<h4 class="pull-left" id="times">
			Set up: {{ showEvent.setUp }}
			&nbsp;
			&nbsp;
			Show Time: {{ showEvent.startTime }}
			<br />
			Estimated Break Down Time: {{ showEvent.strike }}
		</h4>

	</div><!-- details -->

	<p id="desc">
		{{ showEvent.description }}
	</p>

</div><!-- jumbotron -->





</div><!-- appBG -->
